[SddmGreeterTheme]
Name=login-screen
Description=theme inspired by maya
Author=Mateus Vasco
Copyright=(c) 2024, Mateus Vasco
License=CC-BY-SA
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=mateusvascosc@gmail.com
Theme-Id=login-screen
Theme-API=2.0
QtVersion=6
